@import "tailwindcss";

/* Fix horizontal scrolling on mobile */
html,
body {
  overflow-x: hidden !important;
  width: 100% !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: 28px !important;
  height: 28px !important;
  border-radius: 9999px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

/* Reduce arrow icon size */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 12px !important;
  font-weight: bold;
  color: #fff;
}

/* Move arrows slightly inside */
.swiper-button-prev {
  left: 12px !important;
}

.swiper-button-next {
  right: 12px !important;
}

/* Light mode card styling */
.light-card {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
}

/* Dark mode card styling */
.night-card {
  background: #020617;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  border-radius: 16px;
}


/* Hide arrows on mobile */
@media (max-width: 768px) {

  .swiper-button-next,
  .swiper-button-prev {
    display: flex !important;
    width: 24px !important;
    height: 24px !important;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 10px !important;
  }
}

/* hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/* <div className="relative overflow-hidden h-[50vh] sm:h-[60vh] md:h-[70vh]"> */